# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Ignore the dist output
dist/
.swc/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Command that I use locally to parse the old starboard
src/commands/System/parse-starboard.ts
